@charset "utf-8";
/*
 * 栅格类
 * 把行分成12份或10份，超过12或10自动换行，使用 col-12-* 或 col-10-* 实现
 */

.row {
    font-size: 0;
    /* .float-clearfix(); */
    position: relative;
}

[class*=col-] {
    position: relative;
    /* float: left; */
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 14px;
}

.col-10-1 {
    width: 10%;
}

.col-10-2 {
    width: 20%;
}

.col-10-3 {
    width: 30%;
}

.col-10-4 {
    width: 40%;
}

.col-10-5 {
    width: 50%;
}

.col-10-6 {
    width: 60%;
}

.col-10-7 {
    width: 70%;
}

.col-10-8 {
    width: 80%;
}

.col-10-9 {
    width: 90%;
}

.col-10-10 {
    width: 100%;
}


/*
 * 列向右侧偏移
 * @ 使用 col-offset-12-* 实现，*最大值12，最小值为0
 * @ 使用 col-offset-10-* 实现，*最大值10，最小值为0
 *
 */

.col-offset-10-0 {
    margin-left: 0%;
}

.col-offset-10-1 {
    margin-left: 10%;
}

.col-offset-10-2 {
    margin-left: 20%;
}

.col-offset-10-3 {
    margin-left: 30%;
}

.col-offset-10-4 {
    margin-left: 40%;
}

.col-offset-10-5 {
    margin-left: 50%;
}

.col-offset-10-6 {
    margin-left: 60%;
}

.col-offset-10-7 {
    margin-left: 70%;
}

.col-offset-10-8 {
    margin-left: 80%;
}

.col-offset-10-9 {
    margin-left: 90%;
}

.col-offset-10-10 {
    margin-left: 100%;
}


/*
 * 列排序
 * @ 使用 col-push-12-* 实现 left 偏移，*最大值12，最小值为0
 * @ 使用 col-pull-12-* 实现 right 偏移，*最大值12，最小值为0
 * @ 使用 col-push-10-* 实现 left 偏移，*最大值10，最小值为0
 * @ 使用 col-pull-10-* 实现 right 偏移，*最大值10，最小值为0
 *
 */

.col-push-10-0 {
    left: 0%;
}

.col-push-10-1 {
    left: 10%;
}

.col-push-10-2 {
    left: 20%;
}

.col-push-10-3 {
    left: 30%;
}

.col-push-10-4 {
    left: 40%;
}

.col-push-10-5 {
    left: 50%;
}

.col-push-10-6 {
    left: 60%;
}

.col-push-10-7 {
    left: 70%;
}

.col-push-10-8 {
    left: 80%;
}

.col-push-10-9 {
    left: 90%;
}

.col-push-10-10 {
    left: 100%;
}

.col-pull-10-0 {
    right: 0%;
}

.col-pull-10-1 {
    right: 10%;
}

.col-pull-10-2 {
    right: 20%;
}

.col-pull-10-3 {
    right: 30%;
}

.col-pull-10-4 {
    right: 40%;
}

.col-pull-10-5 {
    right: 50%;
}

.col-pull-10-6 {
    right: 60%;
}

.col-pull-10-7 {
    right: 70%;
}

.col-pull-10-8 {
    right: 80%;
}

.col-pull-10-9 {
    right: 90%;
}

.col-pull-10-10 {
    right: 100%;
}

.col-12-1 {
    width: 8.33333333%;
}

.col-12-2 {
    width: 16.66666667%;
}

.col-12-3 {
    width: 25%;
}

.col-12-4 {
    width: 33.33333333%;
}

.col-12-5 {
    width: 41.66666667%;
}

.col-12-6 {
    width: 50%;
}

.col-12-7 {
    width: 58.33333333%;
}

.col-12-8 {
    width: 66.66666667%;
}

.col-12-9 {
    width: 75%;
}

.col-12-10 {
    width: 83.33333333%;
}

.col-12-11 {
    width: 91.66666667%;
}

.col-12-12 {
    width: 100%;
}

.col-offset-12-0 {
    margin-left: 0%;
}

.col-offset-12-1 {
    margin-left: 8.33333333%;
}

.col-offset-12-2 {
    margin-left: 16.66666667%;
}

.col-offset-12-3 {
    margin-left: 25%;
}

.col-offset-12-4 {
    margin-left: 33.33333333%;
}

.col-offset-12-5 {
    margin-left: 41.66666667%;
}

.col-offset-12-6 {
    margin-left: 50%;
}

.col-offset-12-7 {
    margin-left: 58.33333333%;
}

.col-offset-12-8 {
    margin-left: 66.66666667%;
}

.col-offset-12-9 {
    margin-left: 75%;
}

.col-offset-12-10 {
    margin-left: 83.33333333%;
}

.col-offset-12-11 {
    margin-left: 91.66666667%;
}

.col-offset-12-12 {
    margin-left: 100%;
}

.col-push-12-0 {
    left: 0%;
}

.col-push-12-1 {
    left: 8.33333333%;
}

.col-push-12-2 {
    left: 16.66666667%;
}

.col-push-12-3 {
    left: 25%;
}

.col-push-12-4 {
    left: 33.33333333%;
}

.col-push-12-5 {
    left: 41.66666667%;
}

.col-push-12-6 {
    left: 50%;
}

.col-push-12-7 {
    left: 58.33333333%;
}

.col-push-12-8 {
    left: 66.66666667%;
}

.col-push-12-9 {
    left: 75%;
}

.col-push-12-10 {
    left: 83.33333333%;
}

.col-push-12-11 {
    left: 91.66666667%;
}

.col-push-12-12 {
    left: 100%;
}

.col-pull-12-0 {
    right: 0%;
}

.col-pull-12-1 {
    right: 8.33333333%;
}

.col-pull-12-2 {
    right: 16.66666667%;
}

.col-pull-12-3 {
    right: 25%;
}

.col-pull-12-4 {
    right: 33.33333333%;
}

.col-pull-12-5 {
    right: 41.66666667%;
}

.col-pull-12-6 {
    right: 50%;
}

.col-pull-12-7 {
    right: 58.33333333%;
}

.col-pull-12-8 {
    right: 66.66666667%;
}

.col-pull-12-9 {
    right: 75%;
}

.col-pull-12-10 {
    right: 83.33333333%;
}

.col-pull-12-11 {
    right: 91.66666667%;
}

.col-pull-12-12 {
    right: 100%;
}

@media screen and (max-width: 1024px) {
    .col-sm-10-1 {
        width: 10%;
    }
    .col-sm-10-2 {
        width: 20%;
    }
    .col-sm-10-3 {
        width: 30%;
    }
    .col-sm-10-4 {
        width: 40%;
    }
    .col-sm-10-5 {
        width: 50%;
    }
    .col-sm-10-6 {
        width: 60%;
    }
    .col-sm-10-7 {
        width: 70%;
    }
    .col-sm-10-8 {
        width: 80%;
    }
    .col-sm-10-9 {
        width: 90%;
    }
    .col-sm-10-10 {
        width: 100%;
    }
    .col-sm-offset-10-0 {
        margin-left: 0%;
    }
    .col-sm-offset-10-1 {
        margin-left: 10%;
    }
    .col-sm-offset-10-2 {
        margin-left: 20%;
    }
    .col-sm-offset-10-3 {
        margin-left: 30%;
    }
    .col-sm-offset-10-4 {
        margin-left: 40%;
    }
    .col-sm-offset-10-5 {
        margin-left: 50%;
    }
    .col-sm-offset-10-6 {
        margin-left: 60%;
    }
    .col-sm-offset-10-7 {
        margin-left: 70%;
    }
    .col-sm-offset-10-8 {
        margin-left: 80%;
    }
    .col-sm-offset-10-9 {
        margin-left: 90%;
    }
    .col-sm-offset-10-10 {
        margin-left: 100%;
    }
    .col-sm-push-10-0 {
        left: 0%;
    }
    .col-sm-push-10-1 {
        left: 10%;
    }
    .col-sm-push-10-2 {
        left: 20%;
    }
    .col-sm-push-10-3 {
        left: 30%;
    }
    .col-sm-push-10-4 {
        left: 40%;
    }
    .col-sm-push-10-5 {
        left: 50%;
    }
    .col-sm-push-10-6 {
        left: 60%;
    }
    .col-sm-push-10-7 {
        left: 70%;
    }
    .col-sm-push-10-8 {
        left: 80%;
    }
    .col-sm-push-10-9 {
        left: 90%;
    }
    .col-sm-push-10-10 {
        left: 100%;
    }
    .col-sm-pull-10-0 {
        right: 0%;
    }
    .col-sm-pull-10-1 {
        right: 10%;
    }
    .col-sm-pull-10-2 {
        right: 20%;
    }
    .col-sm-pull-10-3 {
        right: 30%;
    }
    .col-sm-pull-10-4 {
        right: 40%;
    }
    .col-sm-pull-10-5 {
        right: 50%;
    }
    .col-sm-pull-10-6 {
        right: 60%;
    }
    .col-sm-pull-10-7 {
        right: 70%;
    }
    .col-sm-pull-10-8 {
        right: 80%;
    }
    .col-sm-pull-10-9 {
        right: 90%;
    }
    .col-sm-pull-10-10 {
        right: 100%;
    }
    .col-sm-12-1 {
        width: 8.33333333%;
    }
    .col-sm-12-2 {
        width: 16.66666667%;
    }
    .col-sm-12-3 {
        width: 25%;
    }
    .col-sm-12-4 {
        width: 33.33333333%;
    }
    .col-sm-12-5 {
        width: 41.66666667%;
    }
    .col-sm-12-6 {
        width: 50%;
    }
    .col-sm-12-7 {
        width: 58.33333333%;
    }
    .col-sm-12-8 {
        width: 66.66666667%;
    }
    .col-sm-12-9 {
        width: 75%;
    }
    .col-sm-12-10 {
        width: 83.33333333%;
    }
    .col-sm-12-11 {
        width: 91.66666667%;
    }
    .col-sm-12-12 {
        width: 100%;
    }
    .col-sm-offset-12-0 {
        margin-left: 0%;
    }
    .col-sm-offset-12-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-12-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-12-3 {
        margin-left: 25%;
    }
    .col-sm-offset-12-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-12-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-12-6 {
        margin-left: 50%;
    }
    .col-sm-offset-12-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-12-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-12-9 {
        margin-left: 75%;
    }
    .col-sm-offset-12-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-12-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-12-12 {
        margin-left: 100%;
    }
    .col-sm-push-12-0 {
        left: 0%;
    }
    .col-sm-push-12-1 {
        left: 8.33333333%;
    }
    .col-sm-push-12-2 {
        left: 16.66666667%;
    }
    .col-sm-push-12-3 {
        left: 25%;
    }
    .col-sm-push-12-4 {
        left: 33.33333333%;
    }
    .col-sm-push-12-5 {
        left: 41.66666667%;
    }
    .col-sm-push-12-6 {
        left: 50%;
    }
    .col-sm-push-12-7 {
        left: 58.33333333%;
    }
    .col-sm-push-12-8 {
        left: 66.66666667%;
    }
    .col-sm-push-12-9 {
        left: 75%;
    }
    .col-sm-push-12-10 {
        left: 83.33333333%;
    }
    .col-sm-push-12-11 {
        left: 91.66666667%;
    }
    .col-sm-push-12-12 {
        left: 100%;
    }
    .col-sm-pull-12-0 {
        right: 0%;
    }
    .col-sm-pull-12-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-12-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-12-3 {
        right: 25%;
    }
    .col-sm-pull-12-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-12-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-12-6 {
        right: 50%;
    }
    .col-sm-pull-12-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-12-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-12-9 {
        right: 75%;
    }
    .col-sm-pull-12-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-12-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-12-12 {
        right: 100%;
    }
}

@media screen and (max-width: 767px) {
    .col-xs-10-1 {
        width: 10%;
    }
    .col-xs-10-2 {
        width: 20%;
    }
    .col-xs-10-3 {
        width: 30%;
    }
    .col-xs-10-4 {
        width: 40%;
    }
    .col-xs-10-5 {
        width: 50%;
    }
    .col-xs-10-6 {
        width: 60%;
    }
    .col-xs-10-7 {
        width: 70%;
    }
    .col-xs-10-8 {
        width: 80%;
    }
    .col-xs-10-9 {
        width: 90%;
    }
    .col-xs-10-10 {
        width: 100%;
    }
    .col-xs-offset-10-0 {
        margin-left: 0%;
    }
    .col-xs-offset-10-1 {
        margin-left: 10%;
    }
    .col-xs-offset-10-2 {
        margin-left: 20%;
    }
    .col-xs-offset-10-3 {
        margin-left: 30%;
    }
    .col-xs-offset-10-4 {
        margin-left: 40%;
    }
    .col-xs-offset-10-5 {
        margin-left: 50%;
    }
    .col-xs-offset-10-6 {
        margin-left: 60%;
    }
    .col-xs-offset-10-7 {
        margin-left: 70%;
    }
    .col-xs-offset-10-8 {
        margin-left: 80%;
    }
    .col-xs-offset-10-9 {
        margin-left: 90%;
    }
    .col-xs-offset-10-10 {
        margin-left: 100%;
    }
    .col-xs-push-10-0 {
        left: 0%;
    }
    .col-xs-push-10-1 {
        left: 10%;
    }
    .col-xs-push-10-2 {
        left: 20%;
    }
    .col-xs-push-10-3 {
        left: 30%;
    }
    .col-xs-push-10-4 {
        left: 40%;
    }
    .col-xs-push-10-5 {
        left: 50%;
    }
    .col-xs-push-10-6 {
        left: 60%;
    }
    .col-xs-push-10-7 {
        left: 70%;
    }
    .col-xs-push-10-8 {
        left: 80%;
    }
    .col-xs-push-10-9 {
        left: 90%;
    }
    .col-xs-push-10-10 {
        left: 100%;
    }
    .col-xs-pull-10-0 {
        right: 0%;
    }
    .col-xs-pull-10-1 {
        right: 10%;
    }
    .col-xs-pull-10-2 {
        right: 20%;
    }
    .col-xs-pull-10-3 {
        right: 30%;
    }
    .col-xs-pull-10-4 {
        right: 40%;
    }
    .col-xs-pull-10-5 {
        right: 50%;
    }
    .col-xs-pull-10-6 {
        right: 60%;
    }
    .col-xs-pull-10-7 {
        right: 70%;
    }
    .col-xs-pull-10-8 {
        right: 80%;
    }
    .col-xs-pull-10-9 {
        right: 90%;
    }
    .col-xs-pull-10-10 {
        right: 100%;
    }
    .col-xs-12-1 {
        width: 8.33333333%;
    }
    .col-xs-12-2 {
        width: 16.66666667%;
    }
    .col-xs-12-3 {
        width: 25%;
    }
    .col-xs-12-4 {
        width: 33.33333333%;
    }
    .col-xs-12-5 {
        width: 41.66666667%;
    }
    .col-xs-12-6 {
        width: 50%;
    }
    .col-xs-12-7 {
        width: 58.33333333%;
    }
    .col-xs-12-8 {
        width: 66.66666667%;
    }
    .col-xs-12-9 {
        width: 75%;
    }
    .col-xs-12-10 {
        width: 83.33333333%;
    }
    .col-xs-12-11 {
        width: 91.66666667%;
    }
    .col-xs-12-12 {
        width: 100%;
    }
    .col-xs-offset-12-0 {
        margin-left: 0%;
    }
    .col-xs-offset-12-1 {
        margin-left: 8.33333333%;
    }
    .col-xs-offset-12-2 {
        margin-left: 16.66666667%;
    }
    .col-xs-offset-12-3 {
        margin-left: 25%;
    }
    .col-xs-offset-12-4 {
        margin-left: 33.33333333%;
    }
    .col-xs-offset-12-5 {
        margin-left: 41.66666667%;
    }
    .col-xs-offset-12-6 {
        margin-left: 50%;
    }
    .col-xs-offset-12-7 {
        margin-left: 58.33333333%;
    }
    .col-xs-offset-12-8 {
        margin-left: 66.66666667%;
    }
    .col-xs-offset-12-9 {
        margin-left: 75%;
    }
    .col-xs-offset-12-10 {
        margin-left: 83.33333333%;
    }
    .col-xs-offset-12-11 {
        margin-left: 91.66666667%;
    }
    .col-xs-offset-12-12 {
        margin-left: 100%;
    }
    .col-xs-push-12-0 {
        left: 0%;
    }
    .col-xs-push-12-1 {
        left: 8.33333333%;
    }
    .col-xs-push-12-2 {
        left: 16.66666667%;
    }
    .col-xs-push-12-3 {
        left: 25%;
    }
    .col-xs-push-12-4 {
        left: 33.33333333%;
    }
    .col-xs-push-12-5 {
        left: 41.66666667%;
    }
    .col-xs-push-12-6 {
        left: 50%;
    }
    .col-xs-push-12-7 {
        left: 58.33333333%;
    }
    .col-xs-push-12-8 {
        left: 66.66666667%;
    }
    .col-xs-push-12-9 {
        left: 75%;
    }
    .col-xs-push-12-10 {
        left: 83.33333333%;
    }
    .col-xs-push-12-11 {
        left: 91.66666667%;
    }
    .col-xs-push-12-12 {
        left: 100%;
    }
    .col-xs-pull-12-0 {
        right: 0%;
    }
    .col-xs-pull-12-1 {
        right: 8.33333333%;
    }
    .col-xs-pull-12-2 {
        right: 16.66666667%;
    }
    .col-xs-pull-12-3 {
        right: 25%;
    }
    .col-xs-pull-12-4 {
        right: 33.33333333%;
    }
    .col-xs-pull-12-5 {
        right: 41.66666667%;
    }
    .col-xs-pull-12-6 {
        right: 50%;
    }
    .col-xs-pull-12-7 {
        right: 58.33333333%;
    }
    .col-xs-pull-12-8 {
        right: 66.66666667%;
    }
    .col-xs-pull-12-9 {
        right: 75%;
    }
    .col-xs-pull-12-10 {
        right: 83.33333333%;
    }
    .col-xs-pull-12-11 {
        right: 91.66666667%;
    }
    .col-xs-pull-12-12 {
        right: 100%;
    }
}
