@charset "utf-8";
@import url(dropdown.css);
@import url(pagination.css);
@import url(grider.css);
@import url(icon-arrow.css);
@import url(submenu.css);
@import url(scroll.css);
@import url(dialog.css);
* {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    /* word-break: break-all; */
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    outline: 0 none;
    /* -ms-touch-action: none; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: auto;
    width: 100%;
    color: #363d4c;
    background-color: #ffffff;
    font-size: 14px;
    min-width: 320px;
    font-family: "Helvetica Neue", "微软雅黑", "Microsoft YaHei", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    position: relative;
    overflow-x: hidden;
}

small, .small {
    font-size: 85%;
    color: #777777;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1 {
    font-size: 36px;
}

h1 small, h1 .small {
    font-size: 65%;
}

h2 {
    font-size: 30px;
}

h2 small, h2 .small {
    font-size: 65%;
}

h3 {
    font-size: 24px;
}

h3 small, h3 .small {
    font-size: 65%;
}

h4 {
    font-size: 18px;
}

h4 small, h4 .small {
    font-size: 75%;
}

h5 {
    font-size: 14px;
}

h5 small, h5 .small {
    font-size: 75%;
}

h6 {
    font-size: 12px;
}

h6 small, h6 .small {
    font-size: 75%;
}

p {
    margin: 0 0 10px;
}

a {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #23527c;
    text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0;
}

hr {
    height: 0;
    border: 0;
    border-top: 1px solid #dddddd;
}

button[disabled], input[disabled], textarea[disabled], .is-disabled {
    cursor: not-allowed !important;
}

.is-disabled input, .is-disabled label {
    cursor: not-allowed !important;
}

textarea {
    overflow: auto;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.list-inline li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 14px;
}

dt {
    font-weight: bold;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 180px;
}

u, .text-underline {
    text-decoration: underline !important;
}

del, .text-delete {
    text-decoration: line-through !important;
}

b, strong, .font-weight-bold {
    font-weight: bold !important;
}

.font-weight-normal {
    font-weight: normal;
}

.font-style-italic {
    font-style: italic;
}

.font-style-normal {
    font-style: normal;
}

i, em, .font-text-italic {
    font-style: italic !important;
}

.font-text-left {
    text-align: left !important;
}

.font-text-center {
    text-align: center !important;
}

.font-text-right {
    text-align: right !important;
}

.font-text-justify {
    text-align: justify !important;
}

.font-text-nowrap {
    white-space: nowrap !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-clearfix {
    clear: both !important;
}

.float-clearfix:after {
    display: block;
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.none {
    display: none !important;
    visibility: hidden;
}

.block {
    display: block !important;
    visibility: visible;
    zoom: normal;
}

.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.fixed {
    position: fixed !important;
}

.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.static {
    position: static !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-visible {
    overflow: visible !important;
}

.overflow-auto {
    overflow: auto !important;
}

.overflow-scroll {
    overflow: scroll !important;
}

.overflow-x-scroll {
    overflow-x: scroll !important;
}

.overflow-y-scroll {
    overflow-y: scroll !important;
}

@media screen and (max-width: 1024px) {
    .font-text-left-sm {
        text-align: left !important;
    }
    .font-text-center-sm {
        text-align: center !important;
    }
    .font-text-right-sm {
        text-align: right !important;
    }
    .font-text-justify-sm {
        text-align: justify !important;
    }
    .font-text-nowrap-sm {
        white-space: nowrap !important;
    }
    .float-left-sm {
        float: left !important;
    }
    .float-right-sm {
        float: right !important;
    }
    .float-clearfix-sm {
        clear: both !important;
    }
    .float-clearfix-sm:after {
        display: block;
        content: "";
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden;
    }
    .center-block-sm {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .none-sm {
        display: none !important;
        visibility: hidden;
    }
    .block-sm {
        display: block !important;
        visibility: visible;
        zoom: normal;
    }
    .inline-sm {
        display: inline !important;
    }
    .inline-block-sm {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }
    .fixed-sm {
        position: fixed !important;
    }
    .absolute-sm {
        position: absolute !important;
    }
    .relative-sm {
        position: relative !important;
    }
    .static-sm {
        position: static !important;
    }
    .overflow-hidden-sm {
        overflow: hidden !important;
    }
    .overflow-visible-sm {
        overflow: visible !important;
    }
    .overflow-auto-sm {
        overflow: auto !important;
    }
    .overflow-scroll-sm {
        overflow: scroll !important;
    }
    .overflow-x-scroll-sm {
        overflow-x: scroll !important;
    }
    .overflow-y-scroll-sm {
        overflow-y: scroll !important;
    }
}

@media screen and (max-width: 767px) {
    .font-text-left-xs {
        text-align: left !important;
    }
    .font-text-center-xs {
        text-align: center !important;
    }
    .font-text-right-xs {
        text-align: right !important;
    }
    .font-text-justify-xs {
        text-align: justify !important;
    }
    .font-text-nowrap-xs {
        white-space: nowrap !important;
    }
    .float-left-xs {
        float: left !important;
    }
    .float-right-xs {
        float: right !important;
    }
    .float-clearfix-xs {
        clear: both !important;
    }
    .float-clearfix-xs:after {
        display: block;
        content: "";
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden;
    }
    .center-block-xs {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .none-xs {
        display: none !important;
        visibility: hidden;
    }
    .block-xs {
        display: block !important;
        visibility: visible;
        zoom: normal;
    }
    .inline-xs {
        display: inline !important;
    }
    .inline-block-xs {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }
    .fixed-xs {
        position: fixed !important;
    }
    .absolute-xs {
        position: absolute !important;
    }
    .relative-xs {
        position: relative !important;
    }
    .static-xs {
        position: static !important;
    }
    .overflow-hidden-xs {
        overflow: hidden !important;
    }
    .overflow-visible-xs {
        overflow: visible !important;
    }
    .overflow-auto-xs {
        overflow: auto !important;
    }
    .overflow-scroll-xs {
        overflow: scroll !important;
    }
    .overflow-x-scroll-xs {
        overflow-x: scroll !important;
    }
    .overflow-y-scroll-xs {
        overflow-y: scroll !important;
    }
}

.noSelect {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.disable-hover {
    pointer-events: none;
}

#wrapper {
    position: relative;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header, .footer {
    padding: 0 15px;
}

.article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

blockquote, .blockquote {
    padding: 10px 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

blockquote footer, .blockquote footer, blockquote p.footer, .blockquote p.footer, blockquote small, .blockquote small, blockquote .small, .blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
    width: auto;
}

blockquote.blockquote-reverse, .blockquote.blockquote-reverse {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 5px solid #eee;
    border-left: 0;
}

/*按钮*/
button,
input[type="button"],
input[type="submit"] {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-group {
  font-size: 0;
}
.btn-group .btn {
  margin-left: 10px;
}
.btn-group .btn:first-child {
  margin-left: 0;
}
.btn {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-weight: normal;
  padding: 5px 18px 5px 18px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  color: #363d4c;
  border-radius: 4px;
  background-color: #ffffff;
  line-height: 20px;
}
.btn:hover,
.btn.is-hover {
  text-decoration: none;
  color: #363d4c;
  background-color: #eeeeee;
}
.btn:active,
.btn.is-active {
  text-decoration: none;
  background-color: #cccccc;
}
.btn[disabled],
.btn.is-disabled {
  text-decoration: none;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity = 50);
}
.btn[disabled]:hover,
.btn.is-disabled:hover,
.btn[disabled]:active,
.btn.is-disabled:active {
  background-color: #ffffff;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: normal;
}
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: none;
  padding: 0;
}
input.form-input,
textarea.form-textarea {
  resize: none;
  width: 100%;
  height: auto;
  /* -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; */
  padding: 5px 10px;
  font-size: 14px;
  color: #363d4c;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
}
input.form-input:focus,
textarea.form-textarea:focus,
input.form-input.is-focus,
textarea.form-textarea.is-focus {
  border-color: #66afe9;
}
input.form-input.is-disabled,
textarea.form-textarea.is-disabled,
input.form-input[disabled],
textarea.form-textarea[disabled] {
  background-color: #eeeeee;
}
input,
textarea {
  font-family: "Helvetica Neue", "微软雅黑", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  border: none;
}
input:focus,
textarea:focus,
input.is-focus,
textarea.is-focus {
  border-color: #66afe9;
}
input.is-disabled,
textarea.is-disabled,
input[disabled],
textarea[disabled] {
  background-color: #eeeeee;
}
