@charset "utf-8";
/*submenu*/
.nav {
  list-style: none;
  position: relative;
}
.nav > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.nav-tabs,
.nav-pills {
  font-size: 0;
}
.nav-tabs li,
.nav-pills li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.nav-tabs li a,
.nav-pills li a {
  font-size: 14px;
  padding: 5px 18px 5px 18px;
  display: block;
  position: relative;
}
.nav-tabs li a i.icon-caret,
.nav-pills li a i.icon-caret {
  border: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  width: 0;
  height: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-left: 3px;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 7px;
}
.nav-tabs li.is-open .sub-menu,
.nav-pills li.is-open .sub-menu {
  display: block;
}
.nav-tabs li.is-open i.icon-caret,
.nav-pills li.is-open i.icon-caret {
  border: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid;
  width: 0;
  height: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-left: 3px;
}
.navbar-title a {
  font-size: 14px;
  padding: 5px 18px 5px 18px;
  display: block;
}
.nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.nav-tabs li {
  margin-bottom: -1px;
}
.nav-tabs li a {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs li.is-active > a,
.nav-tabs li.is-open > a {
  border-color: #dddddd #dddddd #ffffff;
  color: #363d4c;
}
.nav-pills li a {
  border-radius: 4px;
}
.nav-pills li.is-active > a,
.nav-pills li.is-open > a {
  background-color: #363d4c;
  color: #ffffff;
}
.nav-stacked li {
  display: block;
}
.nav-stacked .sub-menu {
  position: static;
  top: 0;
  padding: 0;
  border: none;
}
.sub-menu {
  position: absolute;
  top: 100%;
  display: none;
  z-index: 10;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 3px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sub-menu li {
  display: block;
}
.sub-menu li a {
  padding: 6px 18px;
  display: block;
}
