@charset "UTF-8";
/*sweet alert stylesheet*/
.swal-overlay{
    overflow-y:hidden!important;
}

/*index stylesheet*/

/*容器*/
.container{
    text-align: center;
    font-size: 0;
    height: 100vh;
}
.container:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
/*整体的盒子*/
.box{
    position: relative;
    display: inline-block;
    font-size: 0;
    margin: 0 auto;
    cursor: pointer;
    vertical-align: middle;
}
/*上传的图片*/
#img{
    width: 100%;
    /*width: 300px;*/
    cursor: crosshair;
}
/*input:file*/
#fileId{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
